@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }

  body {
    @apply bg-white dark:bg-black text-gray-900 dark:text-gray-100 antialiased;
    font-family: 'Inter', sans-serif;
  }
}